# ---------- Terraform ----------
.terrraform/*
**/.terraform/*
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# state, plans, crash logs
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.out
crash.log
crash.*.log

# local/secret vars (never commit)
*.tfvars
*.tfvars.json


# ---------- General ----------
.vscode/
.idea/
.DS_Store
*.log